@charset "UTF-8";

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
}

.header {
  border-bottom: solid 0.1rem rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
}
.get-content-button {
  background: rgb(255, 255, 255);
  margin: 0.5rem;
}
.get-content-button:hover {
  background: rgb(238, 238, 238);
  cursor: pointer;
}
.title {
  font: normal 1rem / 1.5rem "";
  margin: 0.5rem;
}
.tom-editor-container {
  flex: 1 1 auto;
  overflow: hidden;
}
