@charset "UTF-8";

@keyframes caret-blinking {
  0% {
    border-left: solid 0.15rem black;
  }
  50% {
    border-left: solid 0.15rem transparent;
  }
}

:root {
  --caret-z-index: 1;
  --line-number-area-width: 3rem;
  --scrollbar-area-width: 1rem;
  --text-area-border-right-width: 0.1rem;
  --text-area-left-space: 2rem;
  --text-area-right-space: 0.5rem;
}

.tom-editor {
  display: flex;
  font: normal 1rem/1rem Consolas, "Courier New", monospace;
  position: relative;
}
.tom-editor__caret {
  animation: caret-blinking 1.25s steps(1) infinite;
  background: transparent;
  border: none;
  color: transparent;
  height: 1.2rem;
  left: 0;
  max-width: 0.01rem; /* widthプロパティを指定すると異常挙動になるためmax-widthプロパティで代替しています。 */
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  resize: none;
  top: 0;
  z-index: var(--caret-z-index);
}
.tom-editor__caret::selection {
  background: transparent;
  color: transparent;
}
.tom-editor__character {
  color: rgb(0, 0, 0);
}
.tom-editor__character::selection {
  background: transparent;
  color: rgb(0, 0, 0);
}
.tom-editor__character--eol::after {
  content: " ";
}
.tom-editor__character--focus {
  position: relative;
}
.tom-editor__character--selected {
  background: rgb(221, 238, 255);
}
.tom-editor__horizontal-scrollbar {
  background: rgb(238, 238, 238);
  height: 100%;
  position: absolute;
  width: 100%;
}
.tom-editor__horizontal-scrollbar:hover { /* :active疑似クラスよりも先に置いておく必要があります。 */
  background: rgb(221, 221, 221);
}
.tom-editor__horizontal-scrollbar:active { /* :hover疑似クラスよりも後に置いておく必要があります。 */
  background: rgb(204, 204, 204);
}
.tom-editor__horizontal-scrollbar-area {
  bottom: 0;
  cursor: default;
  height: 1rem;
  left: calc(var(--line-number-area-width) + var(--text-area-left-space));
  position: absolute;
  right: 1.1rem;
  z-index: calc(var(--caret-z-index) + 1);
}
.tom-editor__horizontal-scrollbar-area--non-active {
  display: none;
}
.tom-editor__line-number {
  border-bottom: 0.1rem solid transparent;
  border-top: 0.1rem solid transparent;
  color: rgb(204, 204, 204);
  cursor: default;
}
.tom-editor__line-number::selection {
  background: transparent;
  color: rgb(204, 204, 204);
}
.tom-editor__line-number--focus {
  color: rgb(102, 102, 102);
}
.tom-editor__line-number--focus::selection {
  background: transparent;
  color: rgb(102, 102, 102);
}
.tom-editor__line-number-area {
  flex: 0 0 var(--line-number-area-width);
  margin: 0 var(--text-area-left-space) 0 0;
  overflow: hidden;
  text-align: right;
}
.tom-editor__scrollbar {
  background: rgb(238, 238, 238);
  height: 100%;
  position: absolute;
  width: 100%;
}
.tom-editor__scrollbar:hover { /* :active疑似クラスよりも先に置いておく必要があります。 */
  background: rgb(221, 221, 221);
}
.tom-editor__scrollbar:active { /* :hover疑似クラスよりも後に置いておく必要があります。 */
  background: rgb(204, 204, 204);
}
.tom-editor__scrollbar--non-active {
  display: none;
}
.tom-editor__scrollbar-area {
  border-left: var(--text-area-border-right-width) solid rgb(238, 238, 238);
  flex: 0 0 var(--scrollbar-area-width);
  margin: 0;
  position: relative;
}
.tom-editor__text-area {
  cursor: text;
  flex: 1 1 auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: pre;
}
.tom-editor__text-line {
  border-bottom: 0.1rem solid transparent;
  border-top: 0.1rem solid transparent;
  font: normal 1rem/1rem Consolas, "Courier New", monospace;
  overflow: visible;
}
.tom-editor__text-line--focus {
  border-bottom: 0.1rem solid rgb(238, 238, 238);
}
